html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0; 
}
.lightbox-questionnaire-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 181, 181, 0.5);
    font-family: sans-serif;
    z-index: 5;
}
.hidden {
    display: none;
}
.lightbox-questionnaire {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: white;
}
.lightbox-close-button-container {
    display: flex;
    flex-direction: row-reverse;
}
.survey-login-container {
    display: flex;
}
.coffee-questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    margin: 1em;
}
.temperature-input-container {
    display: flex;
    flex-direction: column;
}
.temperature-header {
    text-align: center;
}
.temperature-buttons-container {
    display: flex;
    padding-top: 0.3em;
}
.radio {
    padding: 0 1em;
}
.strength-level-header {
    text-align: center;
    padding-bottom: 0.3em;
}
.strength-level {
    display: flex;
    flex-direction: column;
}
.sweetness-level-header {
    padding-bottom: 0.3em;
}
.sweetness-level {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sweetness-level-input {
    align-self: stretch;
}
.cream-level {
    display: flex;
    flex-direction: column;
}
.flavor-container {
    display: flex;
    padding-bottom: 0.3em;
}
.content-master-container {
    max-width: 90%;
    font-style: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: rgba(255,255,255,.5);
}
.background {
    background-image: url("2.jpg");
    background-position: center center;
    background-attachment: fixed;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .individual-content-container-aeropress-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
} */
/* .vid-container {
    position: relative;
    min-height: 315px;
    max-height: 315px;
    width: 100%;
    max-width: 516px;
    overflow: hidden;
} */
/* .content-master-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    flex-grow: inherit;
} */
.individual-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
/* .training-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} */
.video-description {
    display: flex;
    max-width: 500px;
    color: rgba(186,142,93,1);
    font-style: normal;
}
.calculator-container {
    display: flex;
    justify-content: space-between;
}
.calculator-item {
    padding: 1em;
}
.header {
	margin: 0;
	padding: 0;
    background-color: rgb(38, 10, 10);
    width: 100%;
    height: 55px;
}
.window-title {
    color: rgba(186,142,93,1);
}
.video-title {
    color: rgba(186,142,93,1);
}
.nav-header-parent {
    display: flex;
    width: 100%;
    height: 55px;
    padding-right: 0;
    margin: 0;
    background-color: rgb(38, 10, 10);
    flex: 0;
    flex-direction: row-reverse;
    justify-content: right;
    position: fixed; 
    z-index: 5;   
}
.nav-header-child {
    display: flex;
	font-size: 8px;
    font-family: sans-serif;
    align-self: center;
    box-shadow: inset 0 0 25px rgba(186,142,93,1);
    /* outline: 1px solid; */
	/* outline-color: rgba(186,142,93,1); */
	color: rgba(186,142,93,1);
    margin: 7px 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 5em;
    height: 2.8125em;
    border-radius: 7px;
}
.logo {
    display: flex;
    margin: 0;
    align-self: center;
	font-size: 10px;
    flex: 1;
    flex-direction: row;
	justify-content: left;
    color: rgba(186,142,93,1);
	font-family: sans-serif;
}
.blog-header {
    color: white;
    background-color: rgba(186,142,93,1);
    padding: 1em;
    border-radius: 25%;
}
.blog-posts-section {
    width: 50%;
    max-height: 50%;
    background-color: rgba(255,255,255,.5);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
}
.blog-post-container {
    background-color: rgba(186,142,93,1);
    text-align: center;
    list-style: none;
    width: 50%;
    margin: 1em;
    border-radius: 15%;
}
.blog-post-link {
    text-decoration: none;
    color: white;
}
.events-main {
    background: white;
}